body {
  padding-top: 75px;
  font-family: Roboto, sans-serif;
  background-image: url("bg.png");
}


#title { 
  font-size: 30px;
  font-weight: 900;
  background: linear-gradient(to right,#4A4E69 45%, #f72f4e 50%);
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-size:100%;
  position: relative;
  left: calc(50% - 100px);
}


#search{
  cursor: pointer;  
  overflow: hidden;
}

#searchicon {
  transition: all 0.3s;
  position: relative;
  width: 20px;
  height: 20px;
  transform: scale(1.3,1.3);
}

#search:hover #searchicon{
  transform: translateX(-3px)scale(1.3,1.3);
}

#search:active #searchicon{   
  transform: translateX(-3px)scale(1.1,1.1);
}


#edit{
  transition: all 0.2s;
  position: absolute;
  background: #f72f4e;
  padding: 20px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
  display: none;
  margin-top: -65px;
  margin-left: -35px;
}


#edit:hover{
    animation: editor 0.2s linear infinite;
    cursor: pointer;
    padding:25px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
}

#edit:active{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);

}



#vidoe{
  position:absolute;
  width: 100%;
  border: 1px solid #3d94f3;
  border-radius: 5px;
  /*display: none;*/
  opacity: 0;
}

textarea{
  min-height: 200px;
  background-image: url("Lined-Paper.jpg");
}


#UserField{
  position: relative;
  height: auto;
  overflow: hidden;
}

#logout{
  font-weight: bold;
  position: absolute;
  padding: 10px 20px 10px 20px;
  margin-left: -50px;
}



@media only screen and (max-width: 1000px) {
  #logout{
    position: absolute;
    margin-top: -60px;
    margin-left: -150px;
  }


}












@-webkit-keyframes editor{
  0%{transform:rotateZ(0deg);}
  25%{transform:rotateZ(-25deg);}
  50%{transform:rotateZ(0deg);}
  75%{transform:rotateZ(25deg);}
  100%{transform:rotateZ(-25deg);}
}